@keyframes fadeInOut {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.fade-in-out {
  zoom: 1; 
  max-width: 100%; 
  max-height: 100%; 
  animation: fadeInOutScale 300s infinite; 
  top: 100%; 
  left: 20%; 

}
