@keyframes fadeInOut {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.fade-in-out {
  animation: fadeInOut 300s infinite; 
  margin-top: 50px;
  margin-left: 200px;
  max-width: 100%; 
  zoom: 2.5; 

}
